nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 60px;
    font-size: xx-large;
}
a{
    text-decoration:none;
}
a:hover{
    color:red;
}
 .right{
    margin-right: auto;
    margin-top: 80px;
 }
 button{
    font-size: xx-large;
    border-radius: 10px;
    background-color: rgb(175, 190, 185);
    width:150px;
    height:50px;
 }
.img{
    border:1px solid black;
    border-radius:10px;
    margin-top: 7px;
}
nav{
    background:radial-gradient( white,rgb(3, 3, 48));
}
.left{
    margin-right: 15%;
}
/* @media screen and (max-width: 800px) {
   body{
        width: 100%;
    }
} */
body{
    background-image: radial-gradient(circle farthest-side,rgb(241, 189, 189), rgb(150, 150, 201));
}